<div class="container">
  <h3>Book Categor:</h3>

  <div class="row wmargin">
    <div class="col-md-4">
      <p>
        <strong>Category Name:</strong>
        <%= @book_category.name %>
      </p>
    </div>
  </div>

  <div class="row wmargin">
    <%= link_to "Back", admin_book_categories_path %>
  </div>

</div>
