<section class="inter-banner">
  <h2>Explore all books</h2>
</section>

<div class="container container-all-books">

  <section>
     <% if @books.empty? %>
       <h3>No Books Entered</h3>
     <% end %>

   <% @books.each do |book| %>
     <div class="custom-col-recent-books">
       <%= link_to (image_tag (book.book_cover_url), class: 'img-responsive img-ft'), catalog_path(book) if book.book_cover? %>
       <p class="newest-book-title">
         <%= book.title %>
       </p>
       <p class="newest-price">
         $ <%= book.price%>
       </p>
     </div>
   <% end %>
   <br>

   <div class="row paginate-catalog">
     <div id="paginate">
       <%= will_paginate @books, render: BootstrapPagination::Rails%>
     </div>
   </div>
  </section>
</div>
