<section class="inter-banner">
  <h2>Explore all books</h2>
</section>

<div class="container">

  <section>
     <% if @books.empty? %>
       <h3>No Books Entered</h3>
     <% end %>

   <% @books.each do |book| %>
      <div class="col-md-4">
        <p class='newest-book-title'>
          <%= link_to book.title, catalog_path(book) %><br>
          <p class='newest-price'><%= number_to_currency(book.price) %></p>
        </p>
        <p class='book-image'>
          <%= image_tag(book.book_cover_url, class: 'img-responsive img-ft') if book.book_cover? %>
        </p>
      </div>
   <% end %>
   <br>

   <div class="row paginate-catalog">
     <div id="paginate">
       <%= will_paginate @books, render: BootstrapPagination::Rails%>
     </div>
   </div>
  </section>
</div>
