<section>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
         An email with instructions to reset your password has been sent to you.
       </p>
    </div>
  </div>
</section>
