<div class="main-banner">
  <h1 class="main-titles">
    FIND YOUR PASSION, FIND YOUR <strong>BOOK.</strong>
  </h1>
</div>
<section class="container introduction">
  <h2 class="sub-titles">
        WELCOME TO BOOK STORE
  </h2>
  <p>

“ Nunc imperdiet dictum risus finibus luctus. Quisque vestibulum nibh quis elemen
tum vestibulum. Morbi a purus nec metus aliquam accumsan at in orci. Class aptent taciti
sociosqu ad litora torquent per …”
  </p>
</section>
