<div class="main-banner">
  <h1 class="main-titles">
    FIND YOUR PASSION, FIND YOUR <strong>BOOK.</strong>
  </h1>
</div>
<section class="container introduction">
  <h2 class="sub-titles">
        MORE THAN JUST BOOKS...
  </h2>
  <p>

“ Nunc imperdiet dictum risus finibus luctus. Quisque vestibulum nibh quis elemen
tum vestibulum. Morbi a purus nec metus aliquam accumsan at in orci. Class aptent taciti
sociosqu ad litora torquent per …”
  </p>
</section>

<section class="newest-book container-fluid">
  <div class="row">
    <h2 class="sub-titles">RECENT BOOKS</h2>
  </div>
<div class="row">
  <% @books.each do |book| %>

      <div class="col-md-3">
      <%= image_tag(book.book_cover_url, class: 'img-responsive img-ft' ) if book.book_cover? %>
        <p class="newest-book-title">  <%= book.title %></p>
        <p class="newest-price"><%= number_to_currency(book.price) %></p>
      </div>

  <% end %>
</div>

</section>
