<div class="main-banner">
  <h1 class="main-titles">
    FIND YOUR PASSION, FIND YOUR <strong>BOOK.</strong>
  </h1>
</div>
<section class="container introduction">
  <h2 class="sub-titles">
        MORE THAN JUST BOOKS...
  </h2>
  <p>

“ Nunc imperdiet dictum risus finibus luctus. Quisque vestibulum nibh quis elemen
tum vestibulum. Morbi a purus nec metus aliquam accumsan at in orci. Class aptent taciti
sociosqu ad litora torquent per …”
  </p>
</section>

<section class="newest-book container-fluid">
  <div class="row">
    <h2 class="sub-titles">RECENT BOOKS</h2>
  </div>
<div class="row">
  <% @books.each do |book| %>

      <div class="col-md-3">
      <%= image_tag(book.book_cover_url, class: 'img-responsive img-ft' ) if book.book_cover? %>
        <p class="newest-book-title">  <%= book.title %></p>
        <p class="newest-price"><%= number_to_currency(book.price) %></p>
      </div>

  <% end %>
</div>
  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover4.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Insurgent
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover1.jpg" alt="Book Image" />
      <p class="newest-book-title">
        The Pale King
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover3.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Book Title
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover2.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Book Title
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover5.jpg" alt="Book Image" />
      <p class="newest-book-title">
        The Lord of the Rings
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover6.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Fifty Shades of Grey
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover7.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Harry Potter
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive img-ft" src="https://s3.amazonaws.com/variousbucket/cover3.jpg" alt="Book Image" />
      <p class="newest-book-title">
        Book Title
      </p>
      <p class="newest-author">John Doe</p>
      <p class="newest-price">$45.00</p>
    </div>
  </div>

</section>
